@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: 'Open Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;

  margin: 0;
}

.watermelon {
  font-family: 'Rammetto One', cursive;
}
.watermelon-wrap {
  background-color: #e97065;
}

.starfruit {
  font-family: 'Gravitas One', cursive;
}

.starfruit-wrap {
  background-color: #fbd25e;
}

.persimmon {
  font-family: 'Comfortaa', cursive;
}

.persimmon-wrap {
    background-color: #e86033;
}
